# Dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
/dist
/build

# Logs
logs
*.log

# Environment variables
.env
.env.*

# Local files
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
/backend/src/uploads/*
!/backend/src/uploads/.gitkeep